font-family: 'Open Sans', sans-serif;
font-family: 'IBM Plex Sans',sans-serif;






.main-filter{
    font-family:IBM Plex Sans, sans-serif;
    display: flex;
    margin-top: 50px;
    padding: 15px;
    height: auto;

    
}
.search-filter{
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    border-radius: 6px;
    flex-wrap: nowrap;
    height: 60px;
    -webkit-box-shadow: 7px 15px 24px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 7px 15px 24px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 7px 15px 24px 0px rgba(34, 60, 80, 0.2);
    
    

    
}


.btn-group_studia{
    display: flex;
    border: 1px;
    margin:15px 20px 15px 20px;
    text-align: center;
    width: 15%;
    border-right: 1px solid #ccc;
    cursor: pointer;
    box-shadow: none !important;


 
}
.btn-group_studia_1{
    display: block;
    width: 100%;
    border-right: 1px solid #000000;
    text-align: center;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    
    
   
    
}

/*.main-filter .form-control, .main-filter .form-control:focus, .main-filter .form-control:active, .main-filter .form-control:hover {
    outline: none !important;
    box-shadow: none !important;
}*/
.main-filter select {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none !important;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background: url(data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%222222'><polygon points='0,0 100,0 50,50'/></svg>) no-repeat;
    background-size: 12px;
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    background-color: #fff;
    padding-right: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-right: 1px solid #ccc;
}
.option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.main-filter-buttons {
    margin-top: 10px;
    padding-right: 0px;
}
.main-filter-buttons .btn{
    margin-left: 0;
    border-radius: 10px;
    min-width: 165px;
    border: 0;
    font-size: 16px;
    background: linear-gradient(180deg, #2B59C3 4.52%, #2E3192 100%);
    transition: 0.4s all;
}
.main-filter .btn {
    font-size: 16px;
    padding: 10px;
    
}
.btn-primary {
    color: #fff;
    text-align:center;
    height: 50px;
    width: 206px;
    font-weight:bold;
    margin-top: 10px;
    

}


.main-filter-buttons {
    height: 50px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align:center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
}
.btn img{
    background-position: left;
}
    
.btn-group2{
    display: flex;
    align-items: center;
    flex-basis: 15%;
    margin: 15px 0px 15px 0px;
}
.btn-group1{
    /* position: relative;
     display: flex;
     vertical-align: middle;
     flex-direction:row;*/
     display: flex;
     align-items: center;
     border-right: 1px solid #ccc;
     flex-basis: 15%;
     margin: 15px 20px 15px 20px;
   
    
    
     
}
 .btn-group1 input{
    border: none;
    text-align: center;
}
.btn-group2 input{
     border: none;
     text-align: center;
}
.search-filter .btn-group1, .btn-group2{
    justify-content: space-between;
}

.main-filter-buttons a{
    position: 
    left: 0px;
}
 {

}