font-family: 'Open Sans', sans-serif;
font-family: 'IBM Plex Sans',sans-serif;


/*Обращение ко всем стилям*/
*{
  padding:0;
  margin:0;
  border:0;
}
/*Меняем посчет ширины блока, что бы удочно было верстать.*/
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}
/*Убираем линии обводки у некоторых браузеров.*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

/*Делаем значение некоторых тегов блочными*/
nav, footer, header, aside{display: block;}

/*Уравнивают поведение шрифтов и элементов для разных браюзеров, запрещают самовольное увеличение шрифта.*/
html, body{
  height:100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit--text-size-adjust: 100%;
}

/*то бы теги наследовали семество шрифта.*/
input,button,textarea{font-family:inherit;}

/*Убирают крестик в input, лишние отступы в Firefox, чистятся стили маркированных списков.*/
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:none;}
img{vertical-align:top;}

/*Обнуляем все заголовки Н*/
 h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight}*/











.main-filter {
    font-family: IBM Plex Sans, sans-serif;
    display: flex;
    margin-top: 50px;
    padding: 15px;
    height: auto;

    
}
.form-control{

}
.search-filter input {
	font-size: 16px;
}
.search-filter{ /*Свойста контейнера Поиск*/
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    border-radius: 10px;
    flex-wrap: nowrap;
    height: 60px;
    -moz-box-shadow: 7px 15px 24px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 8px 20px rgb(0 0 0 / 25%);
    border-radius: 10px;
}
.select-button{
    border-right: 1px solid #c7c7c7;
}



.studia{  /*Свойства раздела Студиа*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #c7c7c7;
    cursor: pointer;
    
    


 
}

.studia-items{
    display: block;
    border-right: 1px solid #000000;
    padding: 5px 10px;
    
    
}
#studia-items4{
    border-right: none;
}

/*.main-filter .form-control, .main-filter .form-control:focus, .main-filter .form-control:active, .main-filter .form-control:hover {
    outline: none !important;
    box-shadow: none !important;
}*/
.main-filter select {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none !important;
    cursor: pointer;
    text-align: center;
    background: url(/img/Vector12.png);
    /*background: url(data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%222222'><polygon points='0,0 100,0 50,50'/></svg>) no-repeat;*/
    background-size: 12px;
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    background-color: #fff;
    padding-right: 40px;
    /*-moz-appearance: none;
    -webkit-appearance: none;*/
    appearance: none;
	font-size: 16px;
}
.option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.main-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
   /* margin-top: 15px;

    height: 50px;
   */ 
}

.main-filter-buttons .btn-primary{
    margin: 15px 10px 10px 10px;
    height: 50px;
    border-radius: 10px;
    min-width: 165px;
    border: 0;
    font-size: 14px;
    background: linear-gradient(180deg, #33539c 4.52%, #2E3192 100%);
    transition: 0.4s all;
    
    

}
/*.main-filter .btn {
    font-size: 16px;
    padding: 10px;
    
}
*/
.btn-primary img{
    padding-right: 20px;
   
}
.main-filter-buttons a{
    display: inline-block;
    margin: auto auto auto 0;

}

.main-filter-buttons a img{
    margin-left: 5px;

    
    
}

/*.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align:center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
}*/
.btn img{
    background-position: left;
}
    

.btn-group{
    /* position: relative;
     display: flex;
     vertical-align: middle;
     flex-direction:row;*/
     display: flex;
     align-items: center;
     border-right: 1px solid #c7c7c7;
     flex-basis: 5%;
     margin: 15px 20px 15px 20px;
     padding-right: 15px;
    
    
     
}
.price{
    border: none;
    text-align: center;
}

.search-filter .group1, .group2{
    justify-content: space-between;
}


.text-property p{
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	color: #333333;
	margin-top:50px;
}

.group1{
    display: flex;
}
.cahe-off, .cahe-on{
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
}
.cahe-on {
    padding-right: 15px;

}
footer {
    font-family: 'Roboto', sans-serif;
    display: block;
    position: relative;
    margin-top: 30px;
    padding-top:  15px;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    width: 100%;
}
.footer-logo {
	width:40px;
}

.footer h5 {
	font-weight:bold;
}
.footer ul li a {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: inline-block;
	margin-bottom:4px;
	color: #333333;
}
/* 
.container{
    display: block;
    flex-direction: column;
} */
/*.info-ft{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;

}
.info-ft-item{
    display: block;
}
*/
main{
    width: 100%;
    height: 100%;
}
#seach{
   
}
.footer-top{
    text-align:left;
}
.footer-top ul li {
	margin-bottom:5px;
}
.footer-top img {
	width:16px;
}

.footer-bottom{
    padding: 10px;
    text-align: center;
}
.info-ft-two{
    border-top: 1px solid #c7c7c7;
	padding-top: 10px;
}
ul{
  padding: 0;  
}

.main-filter {
	padding-left:0;
	padding-right:0;
}
.main-filter-buttons {
	padding-left:0;
	padding-right:0;
}

.mr0 {
	margin-right:0 !important;
}
.ml0 {
	margin-left:0 !important;
}